<p>
  <strong>Name:</strong>
  <%= @hotel.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @hotel.description %>
</p>

<p>
  <strong>Country code:</strong>
  <%= @hotel.country_code %>
</p>

<p>
  <strong>Average price:</strong>
  <%= @hotel.average_price %>
</p>

<%= link_to 'Edit', edit_hotel_path(@hotel) %> |
<%= link_to 'Back', hotels_path %>
<%= link_to 'Destroy', hotel_path(@hotel),
            method: :delete,
            data: { confirm: 'Are you sure?' } %>
